.page-content.playbook-overview-page-content {
    background-image: url('../../imgs/bg-playback/Path 94.jpg');
    background-image: url('../../imgs/bg-playback/Mask Group 2.jpg');
    background-repeat: no-repeat;
    background-size: auto;
}

.s-playbook-card {
    cursor: pointer;
}

.s-playbook-card.s-new-playbook {
    border: 2px solid #65a0d0;
}

.s-playbook-card:hover {
    box-shadow: 0px 6px 4px #00000038;
    cursor: pointer;
}

.s-playbook-card .aspect-ratio-box {
    position: relative;
}

/* Create a pseudo element that uses padding-bottom to take up space */
.s-playbook-card .aspect-ratio-box::after {
    display: block;
    content: '';
    padding-bottom: 129%;
}

/* Image is positioned absolutely relative to the parent element */
.s-playbook-card .aspect-ratio-box img {
    /* Image should match parent box size */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.s-playbook-card .s-playbook-title {
    background-color: white;
    padding: 6px;
    font-size: 14px;
}

.s-playbook-card .s-playbook-title i {
    color: red;
}

.s-playbook-card .s-new-badge {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 15px;
    display: none;
    background-color: #5b93f1;
}

.s-playbook-card.s-new-playbook .s-new-badge {
    display: block;   
}
